h1 {
	color : green;
	text-align : center;
}

p	{
	color : red;
}

div	{
	background-color : #ADD8E6;

	width : 1000px;
	height : 100px;
	margin : 30px;
	padding : 20px;

	border: 3px dashed red;

	font-family: Arial, sans-serif;
	font-size: 28;
	font-weight: bold;
}

#top  {
	font-size: 20px;
}
#middle {
	font-size: 24px;
}
.name {
	font-weight: bold;
}
table {
	border: 2px solid black;
	border-collapse: collapse;

	width: 30%;
	height: 5%;
}

th, td	{
	border: 1px solid black;
	padding: 5px;
}

th	{
	background-color: lightgrey;
}